:root {
    --primary-color: #333;
    --secondary-color: #555;
    --background-color: #f8f8f8;
    --border-color: #ddd;
    --text-color: #333;
    --input-bg: #fff;
    --input-border: #ccc;
    --label-color: #555;
}

/* Layout */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Container */
.container {
    width: 300px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--input-bg);
}

/* Labels */
label {
    font-size: 0.9em;
    color: var(--label-color);
    margin-top: 10px;
    display: block;
    transition: color 0.2s ease-out;
}

label.active {
    color: var(--text-color);
    transform: translateY(-20px);
    font-size: 0.8em;
}

/* Inputs */
input {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

/* Buttons */
button {
    padding: 8px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease-in;
}

button:hover {
    background-color: var(--secondary-color);
}

button.button-press {
    transform: scale(0.95);
}

/* Flex Containers */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Days */
.days {
    display: flex;
    justify-content: space-between;
    color: var(--label-color);
}

/* Tooltip */
.tooltip {
    position: absolute;
    transform: translateX(-50%);
    top: -30px;
    font-size: 0.8em;
    color: var(--text-color);
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    padding: 2px 6px;
    border-radius: 3px;
    pointer-events: none;
    transition: 0.2s ease-out;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}
